{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}
		{% endblock %}
	</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>                        
				</button>

				<img src ="{% static 'images/logo.png' %} "  style="height: 60px">

			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'home' %}">ABOUT US</a></li>
					<li><a href="{% url 'firstaid_feed' %}">FIRST AID</a></li>
					<li><a href="{% url 'search' %}">SEARCH</a></li>
					<li><a href="{% url 'drugfeed' %}">DRUG DICTIONARY</a></li>

				</ul>
			</div>
		</div>
	</nav>
	<br>
	{% block container %}

	{% endblock %}


	<footer class="container-fluid text-center"><br>
		<p> Website is developed by<br>         
			<a><span class="glyphicon glyphicon glyphicon-user"></span> <i>KURIAN</i> </a> 
			<a><span class="glyphicon glyphicon glyphicon-user"></span> <i>ALEX</i> </a> 
			<a><span class="glyphicon glyphicon glyphicon-user"></span> <i>FREDY</i> </a> 
			<a><span class="glyphicon glyphicon glyphicon-user"></span> <i>HANNA</i>  </a>  
			<a><span class="glyphicon glyphicon glyphicon-user"></span> <i>STEFY</i> </a>  
		</p>
	</footer>

	<script>
		$(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
      	scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
    });
    } // End if
});
  
  $(window).scroll(function() {
  	$(".slideanim").each(function(){
  		var pos = $(this).offset().top;

  		var winTop = $(window).scrollTop();
  		if (pos < winTop + 600) {
  			$(this).addClass("slide");
  		}
  	});
  });
})
</script>

</body>
</html>