{%load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <title>vCARE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>

        <img src ="{% static 'images/logo.png' %} "  style="height: 60px"></a>

      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#about">ABOUT US</a></li>
          <li><a href="#bmi">BMI</a></li>
          <li><a href="#firstaid">FIRST AID</a></li>
          <li><a href="#pillreminder">PILL REMINDER</a></li>
          <li><a href="#drugdict">DRUG DICTIONARY</a></li>
          <li><a href="#contact">CONTACT</a></li>

        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <h1><i>vCARE</i></i></h1> 
    <p><em>Your HEALTH is our CONCERN</em></p> 
    <form>
      <div class="input-group">
      <!--<input type="email" class="form-control" size="50" placeholder="Email Address" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Subscribe</button>-->
      </div>
    </div>
  </form>
</div>

<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>About us </h2><br>
      <h4>"Compassion is at the heart of all we do, helping our users in  body , mind and spirit". We provide quality affordable health care to users. 
       Good quality healthcare services are one of the most important requirements in India. Gone those days of family doctor. Glad to see that these days public is more responsive by following routine health check-up and more conscious towards maintaining their physical condition and strength. And for this reason people search online for the best health care websites to guide them with any health problem and also show them right trail towards leading a healthier life. Just to make your surfing easy, we’ve sorted 5 top medical websites in India. These best healthcare sites are ultimate resource in-case you are searching for most visiting or popular medical websites in India.
     </h4><br>
     <br>
   </div>
   <div class="col-sm-4">
    <span class="glyphicon glyphicon-plus-sign logo slideanim"></span>
    
  </div>
</div>

<h2>What our customers say</h2>
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <h4>"This company is the best. I am so happy with the result!"<br><span>Karthik k <br>IEEE Chair, CEC</span></h4>
    </div>
    <div class="item">
      <h4>"One word... WOW!!"<br><span>SOORAJ <br>IEEE CS Chair, CEC</span>
      </div>
      <div class="item">
        <h4>"Could I... BE any more happy with this company?"<br><span>ADNAN T <br>IEEE CS Secretary, CEC</span></h4>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div id="contact" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <div class="row">
    <div class="col-sm-5">
      <p>Contact us.</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> HACKATHON</p>
      <p><span class="glyphicon glyphicon-phone"></span> +91-8111814102</p>
      <p><span class="glyphicon glyphicon-envelope"></span> isqip@isqip.com</p>
    </div>
    <div class="col-sm-7 slideanim">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
      <div class="row">
        <div class="col-sm-12 form-group">
          <button class="btn btn-default pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>
</div>



<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu-916DdpKAjTmJNIgngS6HL_kDIKU0aU&callback=myMap"></script>

<footer class="container-fluid text-center">
  <a href="#myPage" title="To Top">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>This Website is developed by<br>         
    <a><span class="glyphicon glyphicon glyphicon-user"></span> <i>KURIAN</i> </a> 
    <a><span class="glyphicon glyphicon glyphicon-user"></span> <i>ALEX</i> </a> 
    <a><span class="glyphicon glyphicon glyphicon-user"></span> <i>FREDY</i> </a> 
    <a><span class="glyphicon glyphicon glyphicon-user"></span> <i>HANNA</i>  </a>  
    <a><span class="glyphicon glyphicon glyphicon-user"></span> <i>STEFY</i> </a>  
  </p>
</footer>

<script>
  $(document).ready(function(){
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {
    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
  
  $(window).scroll(function() {
    $(".slideanim").each(function(){
      var pos = $(this).offset().top;

      var winTop = $(window).scrollTop();
      if (pos < winTop + 600) {
        $(this).addClass("slide");
      }
    });
  });
})
</script>

</body>
</html>
